body {
    
    background-image: url('../img/distress_burst_bg.jpg');
}

h1 {
    font-family: abolition, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
    text-align: center;
    margin: auto;
    color: white;
}

h3, h2 {
    font-family: printf, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin: 40px 0 0 0;
    color: white;
}

#left, #right {
    color: white;
    font-family: abolition, sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    font-style: normal;
}

#left {
    margin-right: 1.5rem;
}

#right {
    margin-left: 1.5rem;
}

#waiting {
    text-align: center;
    font-size: 3rem;
    color: white;
    font-family: abolition, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: auto;
}

#noshed {
    text-align: center;
    font-size: 3rem;
    color: white;
    font-family: abolition, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: auto;
}

button {
    margin-left: 2.5rem;
    background-color: rgb(88, 24, 12);
    color: white;
    font-size: 1.8rem;
    border-radius: 1rem;
}

#newburg-name {
    color: white;
    font-family: abolition, sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    font-style: normal;
}

#add  {
    align-items: center;
    margin: auto;
}

#add-one {
    text-align: center;
    margin: auto;

}

.spacer {
    height: 3rem;
}