body {
    background-color: rgb(61, 58, 58);
}

h1 {
    font-family: abolition, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
    text-align: center;
    margin: auto;
    color: white;
    font-size: 6rem;
}

h3, h2 {
    font-family: printf, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin: 40px 0 0 0;
    color: white;
    font-size: 3rem;
}

#left, #right {
    color: white;
    font-family: abolition, sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    font-style: normal;
}

#left {
    margin-right: 1.5rem;
}

#right {
    margin-left: 1.5rem;
}

#waiting {
    text-align: center;
    font-size: 3rem;
    color: white;
    font-family: abolition, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: auto;
}

#noshed {
    text-align: center;
    font-size: 3rem;
    color: white;
    font-family: abolition, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: auto;
}

#burg-button {
    margin-left: 2.5rem;
    background-color: rgb(88, 24, 12);
    color: white;
    font-size: 1.5rem;
    border-radius: 1rem;
}

#newburg-name {
    color: white;
    font-family: abolition, sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    font-style: normal;
}

#wish {
    font-family: printf, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin: 40px 0 0 0;
    color: white;
    font-size: 1.8rem;
    text-align: center;
    padding: 1.5rem 2rem 1.5rem 2rem;
}

#add  {
    align-items: center;
    margin: auto;
}

#add-one {
    text-align: center;
    margin: auto;

}

#add-button {
        background-color: rgb(88, 24, 12);
        color: white;
        font-size: 1.5rem;
        border-radius: 1rem;
}

.spacer {
    height: 3rem;
}

form {
    text-align: center;
    margin-left: 3rem;
    float: left;
}

#burger-ill {
    margin:auto;
    width: 60%;
    float: right;
    z-index: -1;
}

.flex-container {
    display: flex;
}